@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");

body {
  position: absolute;
  width: 1600px;
  height: 2348px;
  background: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", "Raleway", sans-serif;
}
.global-header {
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
  background-color: rgba(255, 255, 255, 1);
}
.active {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196f3;
  cursor: pointer;
}
.visited {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  cursor: pointer;
}
.logo-global {
  position: relative;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.nav-first-item {
  position: absolute;
  width: 42px;
  height: 16px;
  left: 453px;
  top: 32px;
}

.nav-second-item {
  position: absolute;
  width: 58px;
  height: 16px;
  left: 545px;
  top: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.nav-third-item {
  position: absolute;
  width: 59px;
  height: 16px;
  left: 653px;
  top: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.external-link-header-mail {
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1097px;
  top: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}
.external-link-header-phone {
  position: absolute;
  width: 113px;
  height: 16px;
  left: 1272px;
  top: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hero-description {
  background-color: black;
  position: absolute;
  width: 1600px;
  height: 592px;
  left: 0px;
  top: 80px;
}
.first-title {
  color: rgba(255, 255, 255, 1);
  position: absolute;
  width: 696px;
  height: 118.4px;
  left: 452px;
  top: 197.33px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.first-button {
  position: absolute;
  width: 200px;
  height: 49.33px;
  margin-left: 700px;
  top: 425.33px;
  color: white;
  background: #2196f3;
  box-shadow: 0px 4px 4px #00000026;
  border-radius: 4px;
  cursor: pointer;
}

.our-goals {
  width: 1170px;
  height: 101px;
  left: 215px;
  top: 774px;
  display: block;
}
.goals-first-item {
  display: block;
  position: absolute;
  width: 270px;
  height: 16px;
  left: 215px;
  top: 774px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.goals-second-item {
  display: inline-block;
  position: absolute;
  width: 270px;
  height: 16px;
  left: 515px;
  top: 774px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.goals-third-item {
  display: inline-block;
  position: absolute;
  width: 270px;
  height: 16px;
  left: 815px;
  top: 774px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.goals-fourth-item {
  display: inline-block;
  position: absolute;
  width: 270px;
  height: 16px;
  left: 1115px;
  top: 774px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.goals-first-description {
  display: inline-block;
  vertical-align: top;
  height: 75px;
  width: 270px;
  left: 215px;
  top: 800px;
  border-radius: nullpx;
  color: #757575;
  font-size: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}
.goals-second-description {
  display: inline-block;
  vertical-align: top;
  height: 75px;
  width: 270px;
  left: 515px;
  top: 800px;
  border-radius: nullpx;
  color: #757575;
  font-size: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}
.goals-third-description {
  display: inline-block;
  vertical-align: top;
  height: 75px;
  width: 270px;
  left: 815px;
  top: 800px;
  border-radius: nullpx;
  color: #757575;
  font-size: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}
.goals-fourth-description {
  display: inline-block;
  vertical-align: top;
  height: 75px;
  width: 270px;
  left: 1115px;
  top: 800px;
  border-radius: nullpx;
  color: #757575;
  font-size: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}
.what-we-do {
  position: absolute;
  display: block;
  width: 1170px;
  height: 386px;
  left: 215px;
  top: 969px;
}
.photo-what-we-do {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.second-title {
  border-radius: nullpx;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.visual {
  margin: 5px;
}
.team {
  display: block;
  position: relative;
  height: 648px;
  width: 1600px;
  left: 0px;
  margin-top: 1449px;
  margin-bottom: 251px;
  background: #f5f4fa;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-members {
  display: inline-block;
  position: relative;
}
.member-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}
.member-dep {
  height: 19px;
  width: 147px;
  left: 577px;
  top: 1954px;
  border-radius: nullpx;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(117, 117, 117, 1);
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 30px;
}
.global-footer {
  position: absolute;
  width: 1600px;
  height: 251px;
  left: 0px;
  bottom: 0px;
  background: #2f303a;
}
.logo-footer {
  margin-left: 215px;
  margin-top: 60px;
  margin-right: 1240px;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 2157px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.footer-local-adress {
  position: relative;
  width: 207px;
  height: 16px;
  left: 215px;
  margin-right: 1154px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #ffffff99;
}
.local-adress {
  display: inline-block;
  margin: 5px;
}
